#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Темний фон */
}
.modal-content {
  background-color: #bbe1f1;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}
.modal-close{
  position: absolute;
  top: 15px; 
  right: 15px; 
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
}
.modal-footer button{
  color: white;
  width: 192px;
  height: 48px;
  text-transform: uppercase;
}
.modal-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #242424 ;
  color: #fff;
}

.firstModal {
  & .modal-content{
    width: 560px;
    height: 558px;
  }
  & .modal-header{
    margin-top: 50px;
  }
  & .modal-footer{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
  & button:last-child {
    background-color: #fff;
    color: rgb(146, 81, 207);
  }
}

.secondModal{
  & .modal-content{
    width: 440px;
    height: 250px;
    justify-content: space-evenly;
  }
  & .modal-header{
    & h2{
      margin: 0;
    }
  }
  & .modal-body{
    padding-bottom: 60px;
    & p{
      margin: 0;
    }
  }
  & button:last-child {
    background-color: rgb(146, 81, 207);
    color: #fff;
  }
}

.homepage{
  & .homepage-header{
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    & section{
      display: flex;
      align-items: center;
      gap: 15px;
      & img{
        height: 35px;
        width: 35px;
      }
    }
  }
  & .homepage-body{
    & .product-list{
      display: flex;
      gap: 30px;
      justify-content: space-between;
      flex-wrap: wrap;
      & .product-card{
        height: 480px;
        width: 350px;
        position: relative;
        box-shadow: 0px 0px 15px 4px #000000;
        border-radius: 20px;
        & img{
          width: 300px;
          height: 300px;
          border-radius: 5%;
        }
        & .product-card-title{
          text-transform: uppercase;
        }
        & .product-card-caption{
          margin-bottom: 10px;
          & p{
            margin: 0;
          }
        }
        & .product-card-buttons{
          // & button{
            
          // }
          & .product-card-fav_btn{
            position: absolute;
            height: 40px;
            width: 40px;
            top: 0;
            right: 40px;
            background-color: transparent;
            border: none;
            & img{
              position: relative;
              height: 40px;
              width: 40px;
            }
          }
        }
      }
    }
  }
}